* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-image: url('../BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    margin: 40px;
}

.sbcr {
    color: #FFF;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.join {
    display: flex;
    width: 190px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 86px;
    background: #002EA3;
    color: #FFF;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
}

main {
    margin: auto;
    display: flex;
    gap: 25px;
    padding: 20px;
}

.logo img {
    display: inline-block;
    width: 150px;
    height: 80px;
}

.sc-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: rgba(255, 255, 255, 0.03);
    padding: 30px;
}

.profil {
    display: flex;
    width: 217.956px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profil-photo {
    border-radius: 50%;
    background: #C0C0C0;
}

.user-name {
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    border: 1px solid #000;
    padding: 10px;
}

.dcn-btn {
    display: flex;
    width: 190px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 86px;
    background: #002EA3;
}

.dcn-btn a {
    color: #FFF;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px; 
}

.user-ac {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.user-ac div{
    background: rgba(255, 255, 255, 0.04);
    width: 421px;
    padding: 10px;
}

.user-ac div, p {
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}

.filter {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.filter-btn {
    display: flex;
    gap: 5px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 10px;
}

.icone {
    width: 19px;
    height: 19px;
}


.sc-post {
    background: linear-gradient(180deg, rgba(235, 237, 255, 0.10) 0%, rgba(235, 237, 255, 0.00) 100%);
    padding: 30px;
    border-radius: 25px;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    padding: 5px;
    border-radius: 10px;
}

.post-teaser {
    width: 1000px;
    display: flex;
    padding: 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #393939;
    background: #1C1C1C;
    box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
}

.mentary{
    background-color: #282828;
    border-bottom: 5px solid #002EA3;
}

.area{
    display: flex;
}

button {
    padding: 1%;
    margin-left: 1%;
}

input[type="text"] {
    margin-top: 2%;
    background-color: #1C1C1C;
    border: 1px solid rgb(50, 50, 50);
    height: 60px;
    width: 800px;
    display: flex;
    box-sizing: border-box;
    border-radius: 60px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 0.01em;
    /* position: relative; */
    /* z-index: 1; */
}

::placeholder{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    word-spacing: 3px;
}

.btn{
    margin-top: 1.7%;
    margin-left: 3%;
  /* transform: translate(-50%, -50%); */
  width: 150px;
  height: 30px;
    border: 1px solid  #002EA3;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
}

/* Style the p tag */
.btn p{
    position: relative;
    bottom: 30px;
    left: 5px;
    margin-bottom: 100px;
   text-transform: uppercase;
   text-align: center;
   color: #fff;
   font-weight: 900;
   font-size: 20px;
   margin-left: 30px;
   margin-bottom: 100px;
   transition: all 0.5s ease;
}

/* Style the first icon with class send */
.send{
  position:relative;
  top:1px;
  left: 1px;
  color: #fff;
  transition: all 0.5s ease;
}

/* Style the second icon with class send2 */
.send2{
  position: relative;
  top:80px;
  left: 30px;
  color: #696666;
  transition: all 0.5s ease;
}


/* Hover effects */
.btn:hover{
  background:  #002EA3;
  transition: all 0.5s ease;
}

.btn:hover p{
  color: #696666;
  transition: all 0.5s ease;
  animation: move 1s linear 1s forwards;
}

.btn:hover .send{
  top: -50px;
  transition: all 0.5s ease;
}

.btn:hover .send2{
  top: 15px;
  transition: all 0.5s ease;
  animation: sending 1s linear 1s forwards;
}


/* CSS3 animation keyframes */
@keyframes sending{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translate(40px, -60px);
  }
}

@keyframes move{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-18px);
  }
}


/* .bord {
    border-radius: 100;
} */

.head {
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.tete{
    width: 100%;
    display: flex;
}

.ctn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nm-tm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imge img{
    width: 50px;
    padding-bottom: 10px;
    margin: 10px;
}

.pseudo {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mentary{
    padding: 10px;
}

.cm-time {
    color: var(--subtitle-text-color, #808080);
    font-family: Roboto;
    /* font-size: 10px; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

span {
    color: var(--subtitle-text-color, #808080);
    font-family: Roboto;
    /* font-size: 10px; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.feather {
    display: flex;
    flex-direction: column;
}

.text-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cmt {
    color: #808080;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.7px;
}

.submenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sb-tags {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.sb-tags-l {
    display: flex;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
}

.like {
    border-radius: 5px;
    background: #F00;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 6px;
}

.activity {
    display: flex;
    gap: 5px;
}
